@font-face {
  font-family: "CheltenhamBold";
  src: url("./fonts/CheltenhamStdBold.otf");
}

@font-face {
  font-family: "CheltenhamLight";
  src: url("./fonts/CheltenhamStdLight.otf");
}

@font-face {
  font-family: "CheltenhamBlack";
  src: url("./fonts/CheltenhamStdUltra.otf");
}

@font-face {
  font-family: "CheltenhamBook";
  src: url("./fonts/CheltenhamStdBook.otf");
}

:root {
  --dark-green: #020204;
  --middle-green: #204829;
  --bright-green: #22b455;
  --lighter-green: #80ce87;
  --lightest-green: #92e5a1;
  --ChetBlack: "CheltenhamBlack";
  --ChetBold: "CheltenhamBold";
  --ChetRegular: "CheltenhamBook";
  --ChetLight: "CheltenhamLight";
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #020204;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.App {
  display: grid;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
  grid-template-rows: 50px repeat(2, 1fr) 50px;
  grid-template-rows: auto;
  -webkit-font-smoothing: antialiased;
}

.header {
  color: var(--bright-green);
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
  filter: hue-rotate(130deg) contrast(200%) blur(10px);
  opacity: 0.4;
  overflow: hidden;
}

.headerTextBox {
  grid-column: 2/4;
  grid-row: 1/2;
  font-family: var(--ChetLight);
  text-align: center;
  color: var(--bright-green);
  padding-top: 6%;
  height: 150px;
}

.headerTextBox h2 {
  margin-top: 40px;
  letter-spacing: 15px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

.headerTextBox p {
  font-size: 1rem;
  letter-spacing: 15px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

.headerTextBox h1 {
  font-size: 3.5rem;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 0px 12px var(--dark-green);
  letter-spacing: 12px;
  margin-bottom: 17px;
}

.timerBox {
  grid-column: 1/5;
  grid-row: 2/3;
  font-family: var(--ChetLight);
  color: var(--bright-green);
  display: flex;
  justify-content: center;
  padding: 45px;
  height: 200px;
  align-self: center;
}

.timerBox h2 {
  letter-spacing: 1.5pt;
  font-size: small;
  text-align: center;
}

.timerBox p {
  letter-spacing: 1.5pt;
  font-size: small;
  text-align: left;
}

.time {
  padding: 20px;
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(2, 10, 2, 0.7);
  margin: 5px;
}

.time h2 {
  font-size: 48pt;
  font-weight: lighter;
}

.time span {
  font-family: monospace;
  color: var(--bright-green);
}

.time code {
  color: var(--middle-green);
  font-size: 8pt;
}

.trailerBox {
  padding: 10px;
  grid-column: 1/5;
  color: var(--bright-green);
  font-family: var(--ChetLight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.trailerBox h2 {
  margin-bottom: 20px;
  letter-spacing: 1.5pt;
  font-size: small;
  text-align: left;
}

.trailerBox p {
  margin-top: 20px;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wb {
  margin-right: 0;
  margin-top: 15px;
  margin-left: 20px;
}

.imdb {
  margin-right: 8px;
}
